* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#aSide {
    height: 100%;
    width: 100%;
    position: absolute;
}

#aSide img,
model-viewer {
    height: 100%;
    width: 100%;
}
model-viewer {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 226, 226));
  }
